.footer__column-links{
    display: flex;
    flex-direction: column;
    margin: 0 0 16px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    list-style:none;
    padding-left: 0;
  }